<svg
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns="http://www.w3.org/2000/svg"
        id="magic8ball"
        viewBox="0 0 435.26 310.12"
        version="1.0"
        inkscape:version="0.48.2 r9819"
        width="75%"
        height="75%"
        sodipodi:docname="magic_8ball">
    <title
            id="title3051">Magic8 Ball</title>
    <sodipodi:namedview
            pagecolor="#ffffff"
            bordercolor="#666666"
            borderopacity="1"
            objecttolerance="10"
            gridtolerance="10"
            guidetolerance="10"
            inkscape:pageopacity="0"
            inkscape:pageshadow="2"
            inkscape:window-width="1366"
            inkscape:window-height="716"
            id="namedview24"
            showgrid="false"
            inkscape:zoom="1.3417268"
            inkscape:cx="181.41161"
            inkscape:cy="131.01337"
            inkscape:window-x="-8"
            inkscape:window-y="-8"
            inkscape:window-maximized="1"
            inkscape:current-layer="layer1" />
    <defs
            id="defs4">
        <linearGradient
                id="linearGradient3155">
            <stop
                    id="stop3157"
                    stop-color="#c8c8c8"
                    offset="0" />
            <stop
                    id="stop3159"
                    offset="1" />
        </linearGradient>
        <radialGradient
                id="radialGradient3163"
                xlink:href="#linearGradient3155"
                gradientUnits="userSpaceOnUse"
                cy="518.68"
                cx="483.2"
                gradientTransform="matrix(.19587 -.23612 .38672 .32081 124.77 441.49)"
                r="152.86" />
        <radialGradient
                id="radialGradient3181"
                xlink:href="#linearGradient3155"
                gradientUnits="userSpaceOnUse"
                cy="321.69"
                cx="427.31"
                gradientTransform="matrix(-8.8123e-8 1.0507 1.2931 -.0000012699 -83.684 270.61)"
                r="152.86" />
        <filter
                id="filter3417"
                y="-.19854"
                width="1.2963"
                x="-.14817"
                height="1.3971">
            <feGaussianBlur
                    id="feGaussianBlur3419"
                    stdDeviation="15.786717" />
        </filter>
        <filter
                id="filter3461"
                y="-.64811"
                width="1.1953"
                x="-.09763"
                height="2.2962">
            <feGaussianBlur
                    id="feGaussianBlur3463"
                    stdDeviation="16.283838" />
        </filter>
        <linearGradient
                id="linearGradient3471"
                y2="812.36"
                gradientUnits="userSpaceOnUse"
                y1="812.36"
                x2="-317.11"
                x1="74.148">
            <stop
                    id="stop3467"
                    offset="0" />
            <stop
                    id="stop3469"
                    stop-opacity="0"
                    offset="1" />
        </linearGradient>
    </defs>
    <g
            id="layer1"
            transform="translate(-49.022 -435.22)">
        <path
                id="path3251"
                opacity=".7732"
                d="m111.43 799.51a200 30 0 1 1 -400 0 200 30 0 1 1 400 0z"
                transform="matrix(.84643 0 0 .76190 293.4 113.22)"
                filter="url(#filter3461)"
                stroke="#000"
                stroke-linecap="round"
                stroke-width=".3"
                fill="url(#linearGradient3471)" />
        <path
                id="path2383"
                stroke-width="0"
                fill="url(#radialGradient3163)"
                d="m484.29 588.08a152.86 152.86 0 1 1 -305.72 0 152.86 152.86 0 1 1 305.72 0z" />
        <path
                id="path3172"
                opacity=".7732"
                d="m331.03 727.07c-58.9 0-108.9-38.23-126.59-91.21 14.99-57.29 67.12-99.63 129.1-99.63 58.91 0 108.93 38.26 126.61 91.26-15.01 57.27-67.17 99.58-129.12 99.58z"
                filter="url(#filter3417)"
                stroke-width="0"
                fill="url(#radialGradient3181)" />
        <path
                id="path3165"
                d="m-107.14 603.08a69.286 69.286 0 1 1 -138.57 0 69.286 69.286 0 1 1 138.57 0z"
                transform="matrix(.76289 0 0 .76289 466.02 128)"
                stroke="#000"
                stroke-linecap="round"
                stroke-width=".3"
                fill="#fff" />
        <path
                sodipodi:type="arc"
                style="fill:#373748;fill-opacity:1;stroke:#33b5e5;stroke-opacity:1"
                id="path3033"
                sodipodi:cx="284.33508"
                sodipodi:cy="152.4873"
                sodipodi:rx="53.289539"
                sodipodi:ry="52.544228"
                d="m 337.62462,152.4873 a 53.289539,52.544228 0 1 1 -106.57908,0 53.289539,52.544228 0 1 1 106.57908,0 z"
                transform="translate(47.021992,435.22)" />
        <flowRoot
       xml:space="preserve"
       id="flowRoot3001"
       style="font-size:8px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       transform="translate(49.021992,435.22)"><flowRegion
         id="flowRegion3003"><rect
           id="rect3005"
           width="66.332428"
           height="56.643425"
           x="247.44232"
           y="123.79295"
           style="font-size:8px" /></flowRegion><flowPara
         id="flowPara3007" /></flowRoot>    <flowRoot
       xml:space="preserve"
       id="flowRoot3035"
       style="fill:black;stroke:none;stroke-opacity:1;stroke-width:1px;stroke-linejoin:miter;stroke-linecap:butt;fill-opacity:1;font-family:Sans;font-style:normal;font-weight:normal;font-size:10px;line-height:125%;letter-spacing:0px;word-spacing:0px"><flowRegion
         id="flowRegion3037"><rect
           id="rect3039"
           width="72.294899"
           height="64.841812"
           x="251.16887"
           y="120.81171" /></flowRegion><flowPara
         id="flowPara3041"></flowPara></flowRoot>    <flowRoot
       xml:space="preserve"
       id="flowRoot3043"
       style="font-size:10px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#ccff00;fill-opacity:1;stroke:none;font-family:Verdana;-inkscape-font-specification:Verdana"
       transform="matrix(1.0302655,0,0,1.0302655,40.768665,456.29919)"><flowRegion
         id="flowRegion3045"><rect
           id="rect3047"
           width="76.021439"
           height="73.785515"
           x="243.71579"
           y="114.84924"
            /></flowRegion>
            <flowPara id="flowPara3049">Unknow at this time</flowPara>
        </flowRoot>  </g>

    <textArea font-size="25" font-style="italic" height="150" text-align="justify" width="200" x="0" y="0">First Line<tbreak/>Second Line<tbreak/>Third Line</textArea>

    <text id="wisdom" x="280" y="150" fill="yellow" font-size="10" style="text-anchor: middle; dominant-baseline: hanging;">... Meditating ...</text>
</svg>