extends layout

block content
	div(class='row')
		div(class='col-md-6')
			div(class='jumbotron')
				h1 Ask the mighty 8-ball!
				p Your only source of interactive mystical answers

				h3(style='margin-top:100px;') Last question:
				blockquote
					p(id="question-text") Do you think you will receive a question soon?
					footer(id="question-from") No one...



		div(class='col-md-6')
			include svg.html

	div(class='row')
		div(class='col-md-12')
			div(style='margin-left:30px;margin-top:50px;')
				p To ask a question go to this address: <a href="/ask">#{ip}/ask</a> or use this wonderfull QR Code:
					span(id="qrcode", style='margin-left:10px;display:inline-block;vertical-align:middle')

		div(id='answer')



	script(type='text/javascript').
		var qrcode = new QRCode("qrcode", {
			text: "#{ip}/ask",
			width: 80,
			height: 80,
			colorDark : "#555555",
			colorLight : "#ffffff",
			correctLevel : QRCode.CorrectLevel.H
		});

block specificScript
	script(defer, src='/js/receive.js')